@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import "~bootstrap/scss/mixins";


.newLoan{

    form{
        max-width: 50rem;
    }


    .tokenId{
        max-width: 5rem;

        @include media-breakpoint-up(sm) {
            max-width: 8rem;
        }

    }

    .verifyBtn{
        min-width: 7rem;
    }

    .loanBtn{
        min-width: 12rem;
    }
    
}

.newLoanModal{
    color: $gray-900;

    .loanStatusView{
        max-width: 20rem;
        flex-grow: 1;
    }
}
