@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import "~bootstrap/scss/mixins";


.chooseNFT{
    .tokenId{
        max-width: 5rem;

        @include media-breakpoint-up(sm) {
            max-width: 8rem;
        }

    }

    .verifyBtn{
        min-width: 7rem;
    }
    
}